@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #151515 !important;
  color: white !important;
}
.link {
  color: inherit;
}
.link:hover {
  color: #606060;
  transition: all;
}
